<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="NavigationManager" type="DevelopmentInProgress.Wpf.Host.Navigation.NavigationManager, DevelopmentInProgress.Wpf.Host" />
    <alias alias="ModuleNavigator" type="DevelopmentInProgress.Wpf.Host.Navigation.ModuleNavigator, DevelopmentInProgress.Wpf.Host" />
    <alias alias="IViewContext" type="DevelopmentInProgress.Wpf.Host.Context.IViewContext, DevelopmentInProgress.Wpf.Host" />
    <alias alias="ViewContext" type="DevelopmentInProgress.Wpf.Host.Context.ViewContext, DevelopmentInProgress.Wpf.Host" />
       
    <alias alias="IExchangeApi" type="DevelopmentInProgress.MarketView.Interface.Interfaces.IExchangeApi, DevelopmentInProgress.MarketView.Interface" />
    <alias alias="IExchangeService" type="DevelopmentInProgress.MarketView.Interface.Interfaces.IExchangeService, DevelopmentInProgress.MarketView.Interface" />    

    <alias alias="BinanceExchangeApi" type="DevelopmentInProgress.MarketView.Api.Binance.BinanceExchangeApi, DevelopmentInProgress.MarketView.Api.Binance" />

    <alias alias="ExchangeService" type="DevelopmentInProgress.MarketView.Service.ExchangeService, DevelopmentInProgress.MarketView.Service" />

    <alias alias="ISymbolsCache" type="DevelopmentInProgress.Wpf.Common.Cache.ISymbolsCache, DevelopmentInProgress.Wpf.Common"/>
    <alias alias="SymbolsCache" type="DevelopmentInProgress.Wpf.Common.Cache.SymbolsCache, DevelopmentInProgress.Wpf.Common"/>
    
    <alias alias="IWpfExchangeService" type="DevelopmentInProgress.Wpf.Common.Services.IWpfExchangeService, DevelopmentInProgress.Wpf.Common" />
    <alias alias="WpfExchangeService" type="DevelopmentInProgress.Wpf.Common.Services.WpfExchangeService, DevelopmentInProgress.Wpf.Common" />

    <alias alias="IChartHelper" type="DevelopmentInProgress.Wpf.Common.Chart.IChartHelper, DevelopmentInProgress.Wpf.Common" />
    <alias alias="ChartHelper" type="DevelopmentInProgress.Wpf.Common.Chart.ChartHelper, DevelopmentInProgress.Wpf.Common" />
    
    <alias alias="IAccountsService" type="DevelopmentInProgress.Wpf.MarketView.Services.IAccountsService, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="AccountsService" type="DevelopmentInProgress.Wpf.MarketView.Services.AccountsService, DevelopmentInProgress.Wpf.MarketView" />

    <alias alias="mv_AccountViewModel" type="DevelopmentInProgress.Wpf.MarketView.ViewModel.AccountViewModel, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="mv_SymbolsViewModel" type="DevelopmentInProgress.Wpf.MarketView.ViewModel.SymbolsViewModel, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="mv_TradeViewModel" type="DevelopmentInProgress.Wpf.MarketView.ViewModel.TradeViewModel, DevelopmentInProgress.Wpf.MarketView" />
    
    <alias alias="c_OrdersViewModel" type="DevelopmentInProgress.Wpf.Common.ViewModel.OrdersViewModel, DevelopmentInProgress.Wpf.Common" />

    <alias alias="sm_AccountViewModel" type="DevelopmentInProgress.Wpf.StrategyManager.ViewModel.AccountViewModel, DevelopmentInProgress.Wpf.StrategyManager" />
    <alias alias="sm_SymbolsViewModel" type="DevelopmentInProgress.Wpf.StrategyManager.ViewModel.SymbolsViewModel, DevelopmentInProgress.Wpf.StrategyManager" />
    <alias alias="sm_TradesViewModel" type="DevelopmentInProgress.Wpf.StrategyManager.ViewModel.TradesViewModel, DevelopmentInProgress.Wpf.StrategyManager" />
    <alias alias="sm_ChartViewModel" type="DevelopmentInProgress.Wpf.StrategyManager.ViewModel.ChartViewModel, DevelopmentInProgress.Wpf.StrategyManager" />
    
    <container> 

      <register type="NavigationManager" mapTo="NavigationManager">
        <lifetime type="singleton" />
      </register>
      <register type="ModuleNavigator" mapTo="ModuleNavigator">
        <lifetime type="singleton" />
      </register>
      <register type="IViewContext" mapTo="ViewContext"/>
      
      <register type="IExchangeApi" mapTo="BinanceExchangeApi"/>
      <register type="IExchangeService" mapTo="ExchangeService"/>
      <register type="IAccountsService" mapTo="AccountsService"/>
      <register type="ISymbolsCache" mapTo="SymbolsCache">
        <lifetime type="singleton"/>
      </register>
      <register type="IWpfExchangeService" mapTo="WpfExchangeService"/>
      <register type="IChartHelper" mapTo="ChartHelper">
        <lifetime type="singleton"/>
      </register>
      
      <register type="mv_AccountViewModel"/>
      <register type="mv_SymbolsViewModel"/>
      <register type="mv_TradeViewModel"/>
      
      <register type="c_OrdersViewModel"/>

      <register type="sm_AccountViewModel"/>
      <register type="sm_SymbolsViewModel"/>
      <register type="sm_TradesViewModel"/>
      <register type="sm_ChartViewModel"/>
      
    </container>

  </unity>

</configuration>