<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="NavigationManager" type="DevelopmentInProgress.Wpf.Host.Navigation.NavigationManager, DevelopmentInProgress.Wpf.Host" />
    <alias alias="ModuleNavigator" type="DevelopmentInProgress.Wpf.Host.Navigation.ModuleNavigator, DevelopmentInProgress.Wpf.Host" />
    <alias alias="IViewContext" type="DevelopmentInProgress.Wpf.Host.Context.IViewContext, DevelopmentInProgress.Wpf.Host" />
    <alias alias="ViewContext" type="DevelopmentInProgress.Wpf.Host.Context.ViewContext, DevelopmentInProgress.Wpf.Host" />
       
    <alias alias="IExchangeApi" type="DevelopmentInProgress.MarketView.Interface.Interfaces.IExchangeApi, DevelopmentInProgress.MarketView.Interface" />
    <alias alias="IExchangeService" type="DevelopmentInProgress.MarketView.Interface.Interfaces.IExchangeService, DevelopmentInProgress.MarketView.Interface" />    

    <alias alias="BinanceExchangeApi" type="DevelopmentInProgress.MarketView.Api.Binance.BinanceExchangeApi, DevelopmentInProgress.MarketView.Api.Binance" />

    <alias alias="ExchangeService" type="DevelopmentInProgress.MarketView.Service.ExchangeService, DevelopmentInProgress.MarketView.Service" />

    <alias alias="IWpfExchangeService" type="DevelopmentInProgress.Wpf.MarketView.Services.IWpfExchangeService, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="WpfExchangeService" type="DevelopmentInProgress.Wpf.MarketView.Services.WpfExchangeService, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="IAccountsService" type="DevelopmentInProgress.Wpf.MarketView.Services.IAccountsService, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="AccountsService" type="DevelopmentInProgress.Wpf.MarketView.Services.AccountsService, DevelopmentInProgress.Wpf.MarketView" />

    <alias alias="AccountViewModel" type="DevelopmentInProgress.Wpf.MarketView.ViewModel.AccountViewModel, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="SymbolsViewModel" type="DevelopmentInProgress.Wpf.MarketView.ViewModel.SymbolsViewModel, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="TradeViewModel" type="DevelopmentInProgress.Wpf.MarketView.ViewModel.TradeViewModel, DevelopmentInProgress.Wpf.MarketView" />
    <alias alias="OrdersViewModel" type="DevelopmentInProgress.Wpf.MarketView.ViewModel.OrdersViewModel, DevelopmentInProgress.Wpf.MarketView" />
    
    <container> 

      <register type="NavigationManager" mapTo="NavigationManager">
        <lifetime type="singleton" />
      </register>
      <register type="ModuleNavigator" mapTo="ModuleNavigator">
        <lifetime type="singleton" />
      </register>
      <register type="IViewContext" mapTo="ViewContext"/>
      <register type="IExchangeApi" mapTo="BinanceExchangeApi"/>
      <register type="IExchangeService" mapTo="ExchangeService"/>
      <register type="IAccountsService" mapTo="AccountsService"/>
      <register type="IWpfExchangeService" mapTo="WpfExchangeService"/>      
      <register type="AccountViewModel"/>
      <register type="SymbolsViewModel"/>
      <register type="TradeViewModel"/>
      <register type="OrdersViewModel"/>
      
    </container>

  </unity>

</configuration>