<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsShellToolBarVisible" value="true" />
    <add key="LogFileReader" value="notepad++.exe" />
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value=".\Logs\DevelopmentInProgress.TradeView.Wpf.Trading-.log" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="10000000" />    
  </appSettings>
</configuration>