<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="NavigationManager" type="DevelopmentInProgress.TradeView.Wpf.Host.Navigation.NavigationManager, DevelopmentInProgress.TradeView.Wpf.Host" />
    <alias alias="ModuleNavigator" type="DevelopmentInProgress.TradeView.Wpf.Host.Navigation.ModuleNavigator, DevelopmentInProgress.TradeView.Wpf.Host" />
    <alias alias="IViewContext" type="DevelopmentInProgress.TradeView.Wpf.Host.Context.IViewContext, DevelopmentInProgress.TradeView.Wpf.Host" />
    <alias alias="ViewContext" type="DevelopmentInProgress.TradeView.Wpf.Host.Context.ViewContext, DevelopmentInProgress.TradeView.Wpf.Host" />
       
    <alias alias="IExchangeApi" type="DevelopmentInProgress.TradeView.Interface.Interfaces.IExchangeApi, DevelopmentInProgress.TradeView.Interface" />
    <alias alias="IExchangeApiFactory" type="DevelopmentInProgress.TradeView.Interface.Interfaces.IExchangeApiFactory, DevelopmentInProgress.TradeView.Interface" />
    <alias alias="IExchangeService" type="DevelopmentInProgress.TradeView.Interface.Interfaces.IExchangeService, DevelopmentInProgress.TradeView.Interface" />    

    <alias alias="BinanceExchangeApi" type="DevelopmentInProgress.TradeView.Api.Binance.BinanceExchangeApi, DevelopmentInProgress.TradeView.Api.Binance" />

    <alias alias="ExchangeService" type="DevelopmentInProgress.TradeView.Service.ExchangeService, DevelopmentInProgress.TradeView.Service" />
    <alias alias="ExchangeApiFactory" type="DevelopmentInProgress.TradeView.Service.ExchangeApiFactory, DevelopmentInProgress.TradeView.Service" />

    <alias alias="ITradeViewConfigurationAccounts" type="DevelopmentInProgress.TradeView.Data.ITradeViewConfigurationAccounts, DevelopmentInProgress.TradeView.Data" />
    <alias alias="ITradeViewConfigurationStrategy" type="DevelopmentInProgress.TradeView.Data.ITradeViewConfigurationStrategy, DevelopmentInProgress.TradeView.Data" />
    <alias alias="ITradeViewConfigurationServer" type="DevelopmentInProgress.TradeView.Data.ITradeViewConfigurationServer, DevelopmentInProgress.TradeView.Data" />

    <alias alias="TradeViewConfigurationAccountsFile" type="DevelopmentInProgress.TradeView.Data.File.TradeViewConfigurationAccountsFile, DevelopmentInProgress.TradeView.Data.File" />
    <alias alias="TradeViewConfigurationStrategyFile" type="DevelopmentInProgress.TradeView.Data.File.TradeViewConfigurationStrategyFile, DevelopmentInProgress.TradeView.Data.File" />
    <alias alias="TradeViewConfigurationServerFile" type="DevelopmentInProgress.TradeView.Data.File.TradeViewConfigurationServerFile, DevelopmentInProgress.TradeView.Data.File" />
    
    <alias alias="ISymbolsCache" type="DevelopmentInProgress.TradeView.Wpf.Common.Cache.ISymbolsCache, DevelopmentInProgress.TradeView.Wpf.Common"/>
    <alias alias="SymbolsCache" type="DevelopmentInProgress.TradeView.Wpf.Common.Cache.SymbolsCache, DevelopmentInProgress.TradeView.Wpf.Common"/>
    <alias alias="ISymbolsCacheFactory" type="DevelopmentInProgress.TradeView.Wpf.Common.Cache.ISymbolsCacheFactory, DevelopmentInProgress.TradeView.Wpf.Common"/>
    <alias alias="SymbolsCacheFactory" type="DevelopmentInProgress.TradeView.Wpf.Common.Cache.SymbolsCacheFactory, DevelopmentInProgress.TradeView.Wpf.Common"/>
    <alias alias="IServerMonitorCache" type="DevelopmentInProgress.TradeView.Wpf.Common.Cache.IServerMonitorCache, DevelopmentInProgress.TradeView.Wpf.Common"/>
    <alias alias="ServerMonitorCache" type="DevelopmentInProgress.TradeView.Wpf.Common.Cache.ServerMonitorCache, DevelopmentInProgress.TradeView.Wpf.Common"/>
    
    <alias alias="IWpfExchangeService" type="DevelopmentInProgress.TradeView.Wpf.Common.Services.IWpfExchangeService, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="WpfExchangeService" type="DevelopmentInProgress.TradeView.Wpf.Common.Services.WpfExchangeService, DevelopmentInProgress.TradeView.Wpf.Common" />

    <alias alias="IOrderBookHelperFactory" type="DevelopmentInProgress.TradeView.Wpf.Common.Helpers.IOrderBookHelperFactory, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="OrderBookHelperFactory" type="DevelopmentInProgress.TradeView.Wpf.Common.Helpers.OrderBookHelperFactory, DevelopmentInProgress.TradeView.Wpf.Common" />

    <alias alias="ITradeHelperFactory" type="DevelopmentInProgress.TradeView.Wpf.Common.Helpers.ITradeHelperFactory, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="TradeHelperFactory" type="DevelopmentInProgress.TradeView.Wpf.Common.Helpers.TradeHelperFactory, DevelopmentInProgress.TradeView.Wpf.Common" />

    <alias alias="IHelperFactoryContainer" type="DevelopmentInProgress.TradeView.Wpf.Common.Helpers.IHelperFactoryContainer, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="HelperFactoryContainer" type="DevelopmentInProgress.TradeView.Wpf.Common.Helpers.HelperFactoryContainer, DevelopmentInProgress.TradeView.Wpf.Common" />
    
    <alias alias="IChartHelper" type="DevelopmentInProgress.TradeView.Wpf.Common.Chart.IChartHelper, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="ChartHelper" type="DevelopmentInProgress.TradeView.Wpf.Common.Chart.ChartHelper, DevelopmentInProgress.TradeView.Wpf.Common" />
    
    <alias alias="IAccountsService" type="DevelopmentInProgress.TradeView.Wpf.Common.Services.IAccountsService, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="AccountsService" type="DevelopmentInProgress.TradeView.Wpf.Common.Services.AccountsService, DevelopmentInProgress.TradeView.Wpf.Common" />

    <alias alias="IStrategyService" type="DevelopmentInProgress.TradeView.Wpf.Common.Services.IStrategyService, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="StrategyService" type="DevelopmentInProgress.TradeView.Wpf.Common.Services.StrategyService, DevelopmentInProgress.TradeView.Wpf.Common" />

    <alias alias="IServerService" type="DevelopmentInProgress.TradeView.Wpf.Common.Services.IServerService, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="ServerService" type="DevelopmentInProgress.TradeView.Wpf.Common.Services.ServerService, DevelopmentInProgress.TradeView.Wpf.Common" />
    
    <alias alias="t_SymbolsViewModel" type="DevelopmentInProgress.TradeView.Wpf.Trading.ViewModel.SymbolsViewModel, DevelopmentInProgress.TradeView.Wpf.Trading" />
    <alias alias="t_TradeViewModel" type="DevelopmentInProgress.TradeView.Wpf.Trading.ViewModel.TradeViewModel, DevelopmentInProgress.TradeView.Wpf.Trading" />
    
    <alias alias="c_OrdersViewModel" type="DevelopmentInProgress.TradeView.Wpf.Common.ViewModel.OrdersViewModel, DevelopmentInProgress.TradeView.Wpf.Common" />
    <alias alias="c_AccountViewModel" type="DevelopmentInProgress.TradeView.Wpf.Common.ViewModel.AccountViewModel, DevelopmentInProgress.TradeView.Wpf.Common" />

    <alias alias="IStrategyFileManager" type="DevelopmentInProgress.TradeView.Wpf.Configuration.Utility.IStrategyFileManager, DevelopmentInProgress.TradeView.Wpf.Configuration" />
    <alias alias="StrategyFileManager" type="DevelopmentInProgress.TradeView.Wpf.Configuration.Utility.StrategyFileManager, DevelopmentInProgress.TradeView.Wpf.Configuration" />

    <alias alias="ISymbolsLoader" type="DevelopmentInProgress.TradeView.Wpf.Configuration.Utility.ISymbolsLoader, DevelopmentInProgress.TradeView.Wpf.Configuration" />
    <alias alias="SymbolsLoader" type="DevelopmentInProgress.TradeView.Wpf.Configuration.Utility.SymbolsLoader, DevelopmentInProgress.TradeView.Wpf.Configuration" />
    
    <alias alias="IStrategyAssemblyManager" type="DevelopmentInProgress.TradeView.Wpf.Strategies.Utility.IStrategyAssemblyManager, DevelopmentInProgress.TradeView.Wpf.Strategies" />
    <alias alias="StrategyAssemblyManager" type="DevelopmentInProgress.TradeView.Wpf.Strategies.Utility.StrategyAssemblyManager, DevelopmentInProgress.TradeView.Wpf.Strategies" />
    
    <alias alias="s_SymbolsViewModel" type="DevelopmentInProgress.TradeView.Wpf.Strategies.ViewModel.SymbolsViewModel, DevelopmentInProgress.TradeView.Wpf.Strategies" />
    <alias alias="s_StrategyParametersViewModel" type="DevelopmentInProgress.TradeView.Wpf.Strategies.ViewModel.StrategyParametersViewModel, DevelopmentInProgress.TradeView.Wpf.Strategies" />

    <container>

      <register type="NavigationManager" mapTo="NavigationManager">
        <lifetime type="singleton" />
      </register>
      <register type="ModuleNavigator" mapTo="ModuleNavigator">
        <lifetime type="singleton" />
      </register>

      <register type="IViewContext" mapTo="ViewContext"/>

      <register type="IExchangeApiFactory" mapTo="ExchangeApiFactory">
        <lifetime type="singleton"/>
      </register>

      <register type="IExchangeService" mapTo="ExchangeService"/>

      <register type="ITradeViewConfigurationAccounts" mapTo="TradeViewConfigurationAccountsFile"/>
      <register type="ITradeViewConfigurationStrategy" mapTo="TradeViewConfigurationStrategyFile"/>
      <register type="ITradeViewConfigurationServer" mapTo="TradeViewConfigurationServerFile"/>

      <register type="IAccountsService" mapTo="AccountsService"/>
      <register type="IStrategyService" mapTo="StrategyService"/>
      <register type="IServerService" mapTo="ServerService"/>

      <register type="ISymbolsCache" mapTo="SymbolsCache"/>
      
        <register type="IServerMonitorCache" mapTo="ServerMonitorCache">
        <lifetime type="singleton"/>
      </register>

      <register type="ISymbolsCacheFactory" mapTo="SymbolsCacheFactory">
        <lifetime type="singleton"/>
      </register>

      <register type="IWpfExchangeService" mapTo="WpfExchangeService"/>

      <register type="IOrderBookHelperFactory" mapTo="OrderBookHelperFactory">
        <lifetime type="singleton"/>
      </register>

      <register type="ITradeHelperFactory" mapTo="TradeHelperFactory">
        <lifetime type="singleton"/>
      </register>

      <register type="IHelperFactoryContainer" mapTo="HelperFactoryContainer">
        <lifetime type="singleton"/>
      </register>

      <register type="IChartHelper" mapTo="ChartHelper">
        <lifetime type="singleton"/>
      </register>

      <register type="t_SymbolsViewModel"/>
      <register type="t_TradeViewModel"/>

      <register type="c_OrdersViewModel"/>
      <register type="c_AccountViewModel"/>

      <register type="IStrategyFileManager" mapTo="StrategyFileManager"/>
      <register type="ISymbolsLoader" mapTo="SymbolsLoader"/>

      <register type="IStrategyAssemblyManager" mapTo="StrategyAssemblyManager"/>
      <register type="s_SymbolsViewModel"/>
      <register type="s_StrategyParametersViewModel"/>

    </container>

  </unity>

</configuration>